@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.test-table {
    margin-top: 150px;
    margin-left: 620px;

    &__header--lighter-text {
        font-weight: 500;
        padding-left: 50px;
    }

    &__row {
        padding-left: 50px;
    }

}